<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="container" id="app">
        <!-- container CONTATTI / PARTE SINISTRA -->
        <!--  -->
        <div class="container-contatti">

            <!-- sezione utente  -->
            <div class="contatti-utente">
                <!-- avatar e nome -->
                <div class="avatar-e-nome">
                    <img src="" alt="avatar utente" class="avatar">
                    <div class="nome-avatar">nome utente</div>
                </div>

                
                <!-- icone -->
                <div>
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>

                </div>
            </div>

            <!-- sezione notifiche -->
            <div class="contatti-notifiche">
                <i class="fa-solid fa-bell-slash"></i>

                <div class="notifiche-testo">
                    <div class="ricevi-notifiche">ricevi notifiche di nuovi messaggi</div>
                    <div class="attiva-notifiche">Attiva notifiche desktop</div>
                </div>
            </div>

            <!-- sezione cerca -->
            <div class="contatti-cerca">
                <div class="search-bar"> 
                    
                    <i class="fa-solid fa-magnifying-glass"></i>

                    <input type="text" placeholder="Cerca o inizia una nuova chat">


                </div>
            </div>

            <!-- sezione/lista item contatti -->
            <ul class="contatti-lista">

                <!-- list item -->
                <li 
                v-for="(contact , index) in contacts"
                class="contatti-lista-item"
                @click="selectContact(index)"
                >
                    <!-- avatar e nome -->
                    <div class="avatar-e-nome">

                        <img :src="contact.avatar" alt="avatar utente" class="avatar">

                        <div class="nome-e-ultimo-messaggio">
                            <div class="nome-avatar">{{contact.name}}</div>
                            <div class="ultimo-messaggio">Ultimo messaggio inviato</div>
                        </div>
                        

                    </div>
    
                    <!-- ora messaggio -->
                    <div class="contatti-ora-messaggio">
                        12:00
                    </div>

                </li>
            </ul>

        </div>


        <!-- container CHAT / PARTE DESTRA -->
        <!--  -->
        <div class="container-messaggi">

            <!-- contatto con cui si chatta -->
            <div class="chat-contatto">
                <!-- avatar e nome contatto aperto -->
                <div class="avatar-e-nome">
                    <img :src="contacts[currentContactIndex].avatar" alt="avatar cont" class="avatar">
                    <div class="nome-e-ultimo-accesso">
                    <div class="nome-avatar">{{contacts[currentContactIndex].name}}</div>
                    <div class="ultimo-accesso">ultimo accesso</div>
                    </div>
                </div>

                <!-- icone contatto aperto  -->
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>

                </div>

            </div>

            <!-- sezione chat -->
            <div class="chat">
                <div class="container-interno-chat">
                    
                    <!-- <div class="messaggio ricevuto"> come procede con il progetto? sei riuscito a finirlo??? Fammi sapere!</div>
                    <div class="messaggio inviato">eh insomma :D manca tutta la parte di logica, ma html e css almeno sono andati ;)</div>
                    <div class="messaggio ricevuto"> Tienimi aggiornato!</div>
                    <div class="messaggio inviato">Ok ;)</div> -->

                    <div class="messaggio"   
                    
                    v-for="msg in contacts[currentContactIndex].messages"

                    :class="msg.status === 'sent' ?  'inviato' : 'ricevuto'"
                    >

                   
                    
                    {{msg.message}}</div>
                    
                    <!-- <div class="messaggio inviato"></div> -->


                </div>
            </div>

            <!-- sezione input -->
            <div class="chat-footer">
                <i class="fa-regular fa-face-smile"></i>
                <input 
                @keyup.enter="sendMessage"
                v-model="messageSent.message"
                @keyup.enter="getResponse"
                

                type="text" placeholder="Scrivi un messaggio"

                >

                <i class="fa-solid fa-microphone"></i>
            </div>

        </div>

    </div>

    

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
    
</body>
</html>